In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("worldcities.csv")

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48059 entries, 0 to 48058
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   city        48059 non-null  object
 1   city_ascii  48057 non-null  object
 2   lat         48059 non-null  float64
 3   lng         48059 non-null  float64
 4   country     48059 non-null  object
 5   iso2        48026 non-null  object
 6   iso3        48059 non-null  object
 7   admin_name  47858 non-null  object
 8   capital     15138 non-null  object
 9   population  47808 non-null  float64
 10  id          48059 non-null  int64
dtypes: float64(3), int64(1), object(7)
memory usage: 4.0+ MB

In [3]:
df.sort_values(by=['city'], inplace=True)

In [11]:
df_export = df.loc[:, ["city_ascii", "admin_name", "country"]]
df_export.rename(columns={"city_ascii":"city", "admin_name": "region"}, inplace=True)
df_export.head()

           city                  region      country
2694   A Coruna                 Galicia        Spain
10611  A Yun Pa                 Gia Lai      Vietnam
29787  Aabenraa              Syddanmark      Denmark
2648     Aachen  North Rhine-Westphalia      Germany
44584    Aadorf                 Thurgau  Switzerland

In [12]:
df_export.to_json("cities.json", orient="records")